{% extends 'ticketmaster/baseTicketmaster.html' %}

{% block body %}

    <div class="container-fluid bg-primary text-white text-center">

        <h1 class="display-1">Ticketmaster</h1>
        <h1>Quickly find tickets around you</h1>

        <form action="{% url 'ticketmaster-index' %}" method="post">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="input-group mb-3" style="margin-top: 25px;">
                        <input type="text" name="events" class="form-control"
                               placeholder="Search by genre, artist or event">
                        <input type="text" name="city" class="form-control"
                               placeholder="Enter a city e.g., Hartford">
                        <button class="btn btn-danger" type="submit">SEARCH</button>

                    </div>
                    {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                            <h5>{{ message }}</h5>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </form>
    </div>

    {% if users %}
        <div class="container my-5 p-5 shadow-lg rounded" id="event-container">
            <div class="row align-items-center">
                <h3 class="text-secondary">{{ total_events }} Total Events</h3>
                {% for user in users %}
                        <div class="card mb-4">
                            <div class="row g-2">
                                <div class="col-md-4">
                                    <img src="{{ user.imageUrl }}" class="img-fluid rounded-start" alt="event-image">
                                </div>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-sm-7 col-6">
                                            <h5 class="card-title">{{ user.eventName }}</h5>
                                            <h5 class="card-text">{{ user.venueName }}</h5>
                                            <p class="card-text">{{ user.venueAddress }}</p>
                                            <p class="card-text">{{ user.venueCity }}, {{ user.venueState }}</p>
                                            <p class="card-text"><a href="{{ user.ticketLink }}" target="_blank" class="btn btn-primary">Find Ticket</a></p>
                                        </div>
                                        <div class="col-sm-5  col-6 text-end p-4">
                                            <p class="fs-5 text-success fw-bold">{{ user.eventDate }}</p>
                                             <p class="fs-5 text-success fw-bold">{{ user.eventTime }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}